@font-face {
    font-family: 'E400';
    src: url(./fonts/Exo2/Exo2-Regular.ttf);
}

@font-face {
    font-family:'E600';
    src: url(./fonts/Exo2/Exo2-SemiBold.ttf);
}


@font-face {
    font-family:'P400';
    src: url(./fonts/PTSans/PTSans-Regular.ttf);
}

@font-face {
    font-family:'P700';
    src: url(./fonts/PTSans/PTSans-Bold.ttf);
}